.status {
    background-color: grey;
    margin: auto;
    text-align: center;
    font-size: 35px;
    width: 450px;
    padding: 20px;

    border: 30px;
    border-color: white;
    border-width: 20px;
    border-style: solid;
}

div.grid{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-gap: 15px;
    justify-content: center;
}

div.cell {
    background-color:grey;

    border-color: black;
    border-width: 2px;
    border-style: solid;
}

div.guess_word{
    text-align: center;
    font-size: 28px;
    padding: 20px;
}

input{
    font-size: large;
}

button {
    font-size: large;
    padding: 20px 40px;
}