{% extends "socialnetwork/base.html" %}

{% block content %}

    <div class = "id_register_link" id = "id_register_link">
        <a id = "id_nav_global_stream" href="{% url 'stream' %}">Global Stream</a>
        <a id = "id_nav_profile" href="{% url 'profile' %}"> {{ user.first_name }} {{ user.last_name }}</a>
        <a id = "id_nav_follower_stream" href="{% url 'follower_stream' %}">Followers Stream</a>
        <a id = "id_nav_logout" href="{% url 'logout' %}">Logout</a>
    </div>

    <div class = "id_page_name" id = "id_page_name">Global Stream</div>

    <form method = "post" action = "{% url 'stream' %}" class = "id_post_input_text">
        {% csrf_token %}
        <table>
            {% for field in post_form.visible_fields %}
            <tr>
                <td> {{ field.label_tag }}</td>
                <td> {{ field }}</td>
                <td class="error">
                    {% for error in field.errors %} {{ error }} {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <button id= "id_post_button" name="id_post_button" type="submit">Submit</button>
    </form>

    <div class="id_post_div_1" id="id_post_div_1">
        <a class = 'id_post_profile_1' id = 'id_post_profile_1' href = "{% url 'follower_page' %}">Post by Bonvie Fosam</a>
        <span id = 'id_post_text_1'>- Today is a very sunny day - </span>
        <span class = 'id_post_date_time_1' id = 'id_post_date_time_1'>2/10/2025 12:19 PM</span>

        <div class = "id_comment_div_1" id = "id_comment_div_1">
            <a class = 'id_comment_profile_1' id = 'id_comment_profile_1' href = "{% url 'follower_page' %}">Comment by Harry Styles</a>
            <span id = 'id_comment_text_1'>- It is a nice day, but I like snow better. - </span>
            <span class = 'id_comment_date_time_1' id = 'id_comment_date_time_1'>2/10/2025 1:35 PM</span>
        </div>

        <div class = "id_comment_input_text_1">
            <label for="id_comment_input_text_1">Comment: </label>
            <input id="id_comment_input_text_1"name="id_comment_input_text_1" type="text">
            <button id= "id_comment_button_1" name="id_comment_button_1" type="submit">Submit</button>
        </div>

    </div>


{% endblock %}