{% extends "socialnetwork/base.html" %}
{% load static %}
{% block content %}
    <div class = "id_register_link" id = "id_register_link">
        <a id = "id_nav_global_stream" href="{% url 'stream' %}">Global Stream</a>
        <a id = "id_nav_profile" href="{% url 'profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
        <a id = "id_nav_follower_stream" href="{% url 'follower_stream' %}">Followers Stream</a>
        <a id = "id_nav_logout" href="{% url 'logout' %}">Logout</a>
    </div>

    <div class = "id_page_name" id = "id_page_name">Profile Page for {{ user.first_name }} {{ user.last_name }}</div>

    {% if user.profile.profile_pic %}
        <img id="id_user_picture" src="{% url 'photo' user.profile.id %}" alt="User Profile Picture" width="150">
    {% else %}
        <img id = "id_user_picture" src = "{% static 'socialnetwork/profile_pic.png' %}" alt = "user profile picture">
    {% endif %}
    
    <form method = "post" action = "{% url 'profile' %}" enctype="multipart/form-data" class = "container">
        <!--<table>
            {{profile_form.as_table}}
        </table> -->
        {{ profile_form.profile_pic.label_tag }}
        {{ profile_form.profile_pic }}

        {{ profile_form.bio.label_tag }}
        {{ profile_form.bio }}
        {% csrf_token %}
        <button id = "id_update_profile_button"> Submit </button>
    </form>
    

    <div class = "id_profile_link_{{ user.profile.id }}">
        You are following:
        <ul>
            {% for u in user.profile.following.all %}
                <li>
                    <a id = "id_profile_link_{{u.username}}" href="{% url 'follower_page' u.id%}">{{ u.first_name }} {{ u.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div> 
{% endblock %}