<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        {% load static %}
            <link href="{% static 'socialnetwork/base.css' %}" rel="stylesheet" type = "text/css">
            <title> {% block title %} Social Network {% endblock %}</title>
    </head>

    <body class = "body">
        <div class="id_header_div" id="id_header_div">
            <div class="id_site_name" id="id_site_name">Blogging Social Network!</div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        
        
    </body>
</html> 
